<div class="row show-grid">
  <div class="col-12 col-sm-6 col-md-3">
    <div>
      <nb-card (click)="gotoWhereClicked('/pages/insurance')" _ngcontent-ymx-c22="" style="cursor: pointer">
        <nb-card-body _ngcontent-ymx-c22=""><div class="menu-pics" style="background: url('assets/images/insurance.jpg')"></div>
          <nb-alert status="primary" class="menu-bottom-text">
            <strong>بیمه</strong>
          </nb-alert>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div>
      <nb-card _ngcontent-ymx-c22="">
        <nb-card-body _ngcontent-ymx-c22=""><div class="menu-pics" style="background: url('assets/images/loan.jpg')"></div>
          <nb-alert status="primary" class="menu-bottom-text">
            <strong>اعطای تسهیلات</strong>
          </nb-alert>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div>
      <nb-card _ngcontent-ymx-c22="">
        <nb-card-body _ngcontent-ymx-c22=""><div class="menu-pics" style="background: url('assets/images/installment.jpg')"></div>
          <nb-alert status="primary" class="menu-bottom-text">
            <strong>خرید اقساطی</strong>
          </nb-alert>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div>
      <nb-card _ngcontent-ymx-c22="">
        <nb-card-body _ngcontent-ymx-c22=""><div class="menu-pics" style="background: url('assets/images/transport.jpg')"></div>
          <nb-alert status="primary" class="menu-bottom-text">
            <strong>خدمات حمل و نقل</strong>
          </nb-alert>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<div class="row show-grid">
  <div class="col-12 col-sm-6 col-md-3">
    <div>
      <nb-card _ngcontent-ymx-c22="">
        <nb-card-body _ngcontent-ymx-c22=""><div class="menu-pics" style="background: url('assets/images/hotel.jpeg')"></div>
          <nb-alert status="primary" class="menu-bottom-text">
            <strong>هتل و رستوران</strong>
          </nb-alert>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div>
      <nb-card _ngcontent-ymx-c22="">
        <nb-card-body _ngcontent-ymx-c22=""><div class="menu-pics" style="background: url('assets/images/sports.jpg')"></div>
          <nb-alert status="primary" class="menu-bottom-text">
            <strong>اماکن ورزشی</strong>
          </nb-alert>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div>
      <nb-card _ngcontent-ymx-c22="">
        <nb-card-body _ngcontent-ymx-c22=""><div class="menu-pics" style="background: url('assets/images/shopping.jpg')"></div>
          <nb-alert status="primary" class="menu-bottom-text">
            <strong>خرید کالا با تخفیف</strong>
          </nb-alert>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div>
      <nb-card _ngcontent-ymx-c22="">
        <nb-card-body _ngcontent-ymx-c22=""><div class="menu-pics" style="background: url('assets/images/bills.jpg')"></div>
          <nb-alert status="primary" class="menu-bottom-text">
            <strong>پرداخت قبوض</strong>
          </nb-alert>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>


