<div class="row show-grid">
  <div class="col-12 col-sm-6 col-md-3">
    <div>
      <nb-card (click)="gotoWhereClicked('/pages/transport/plane')" _ngcontent-ymx-c22="" style="cursor: pointer">
        <nb-card-body _ngcontent-ymx-c22=""><div class="menu-pics" style="background: url('assets/images/transport/plane.png')"></div>
          <nb-alert status="primary" class="menu-bottom-text">
            <strong>هواپیما</strong>
          </nb-alert>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div>
      <nb-card _ngcontent-ymx-c22="">
        <nb-card-body _ngcontent-ymx-c22=""><div class="menu-pics" style="background: url('assets/images/transport/train.png')"></div>
          <nb-alert status="primary" class="menu-bottom-text">
            <strong>قطار</strong>
          </nb-alert>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div>
      <nb-card _ngcontent-ymx-c22="">
        <nb-card-body _ngcontent-ymx-c22=""><div class="menu-pics" style="background: url('assets/images/transport/bus.png')"></div>
          <nb-alert status="primary" class="menu-bottom-text">
            <strong>اتوبوس</strong>
          </nb-alert>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div>
      <nb-card _ngcontent-ymx-c22="">
        <nb-card-body _ngcontent-ymx-c22=""><div class="menu-pics" style="background: url('assets/images/transport/tour.png')"></div>
          <nb-alert status="primary" class="menu-bottom-text">
            <strong>تور مسافرتی</strong>
          </nb-alert>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
